@import "tailwindcss";

:root {
  --background: #0F172A;
  --sidebar: #111827;
  --card: #1E293B;
  --primary: #3B82F6;
  --primary-hover: #2563EB;
  --success: #22C55E;
  --warning: #F59E0B;
  --danger: #EF4444;
  --text: #F8FAFC;
  --muted: #94A3B8;
  --border: #334155;

  --card-hover: #263248;
}

body {
  background-color: var(--background);
  color: var(--text);
  font-family: 'Inter', sans-serif;
}

* {
  border-color: var(--border);
}
