DISCORD_TOKEN=
CLIENT_ID=1502623528476737627
MONGO_URI=
GEMINI_API_KEY=
OWNER_ID=1229349314736951321
SUPPORT_SERVER=https://discord.gg/5ZGTMY6GRj
INVITE_URL=https://discord.com/oauth2/authorize?client_id=1502623528476737627
YOUTUBE_API_KEY=
TWITCH_CLIENT_ID=
TWITCH_CLIENT_SECRET=
